# House Price Prediction

 ### 1. Loading the required packages and libraries

In [2]:
import math
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

### 2. Loading the data

In [3]:
data_frame = pd.read_csv("house_data.csv")

### 3. Exploring the data

In [4]:
data_frame

   Area   Price  age  bedrooms
0  2600  550000   20       3.0
1  3000  565000   15       4.0
2  3200  610000   18       NaN
3  3600  595000   30       3.0
4  4000  760000    8       5.0

### 4. Finding a median for the missing bedrooms

In [6]:
median = math.floor(data_frame.bedrooms.median())
median

3

In [7]:
data_frame.bedrooms = data_frame.bedrooms.fillna(median)
data_frame

   Area   Price  age  bedrooms
0  2600  550000   20       3.0
1  3000  565000   15       4.0
2  3200  610000   18       3.0
3  3600  595000   30       3.0
4  4000  760000    8       5.0

#####  We have 3 independent variable(Area,age and bedrooms) and a dependent variable(Price).
##### our linear equation will be:
### Price = m1 * Area + m2 * age + m3 * bedrooms + b
    where m1,m2,m3 are coefficients and b is intercept

### 5. Train the model

In [9]:
reg = linear_model.LinearRegression() # linear regression class with 'reg' object
reg.fit(data_frame[['Area','age','bedrooms']],data_frame.Price) # calling fit mithod to train the modle

LinearRegression()

### Coefficients

In [10]:
reg.coef_

array([   137.25,  -6825.  , -26025.  ])

In [13]:
reg.intercept_

383725.0

### 6. Prediction

In [14]:
reg.predict([[3000,14,3]])

/home/mule/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([621850.])

### Let's check

In [15]:
137.25*3000 + -6825*14 + -26025*3 + 383725.0

621850.0

In [16]:
reg.predict([[3500,12,5]])

/home/mule/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([652075.])

### Let's check

In [17]:
137.25*3500 + -6825*12 + -26025*5 + 383725.0

652075.0

In [18]:
reg.predict([[4000,17,5]])

/home/mule/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([686575.])

### Let's check

In [19]:
137.25*4000 + -6825*17 + -26025*5 + 383725.0

686575.0

In [20]:
reg.predict([[3000,14,3]])

/home/mule/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([621850.])

### Let's check

In [21]:
(137.25*3000)+(-6825*14)+(-26025*3)+383725

621850.0